<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>APIService.swift</key>
			<dict>
				<key>lastModification</key>
				<real>505922443.92996001</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>AppDelegate.swift</key>
			<dict>
				<key>lastModification</key>
				<real>505922443.92996299</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CookbookAPIService.swift</key>
			<dict>
				<key>lastModification</key>
				<real>505922443.92996299</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>DetailViewController.swift</key>
			<dict>
				<key>lastModification</key>
				<real>505922443.92996198</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MasterViewController.swift</key>
			<dict>
				<key>lastModification</key>
				<real>505922443.92996198</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Network.swift</key>
			<dict>
				<key>lastModification</key>
				<real>505922443.92996103</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Readme.md.md</key>
			<dict>
				<key>lastModification</key>
				<real>505922476.19175398</real>
				<key>version</key>
				<dict>
					<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>APIService.swift</string>
		</array>
		<array>
			<string>Readme.md.md</string>
		</array>
		<array>
			<string>Network.swift</string>
		</array>
		<array>
			<string>MasterViewController.swift</string>
		</array>
		<array>
			<string>DetailViewController.swift</string>
		</array>
		<array>
			<string>AppDelegate.swift</string>
		</array>
		<array>
			<string>CookbookAPIService.swift</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f9d77c5ecfa82fdbddcfd2e4770b57059a70eb53e2798a4c893f3a67c2903444</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
